body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.gridcontainer {
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}

.header{
    border: 5px solid;
    color: blue;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
        
}

.main {
    border: 5px solid;
    background-color: #e9d8a6;
    grid-column: 1/3;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start; 

}

.sidebar {
    border: 5px solid;
    color: blueviolet;
    grid-column: 3/4;
}

.footer {
    border: 5px solid;
    color: chartreuse;
    grid-column: 1/4;

}

.lista1{
    border-spacing:0;
    width: 50%;
    border: 4px solid black;
    margin-bottom: 20px;
}
.lista2{
    border-spacing: 0;
    width: 50%;
    border:4px solid black;
}

thead {
    background-color: 001219;
    color: black;
}
tbody td:nth-child(1){
    text-align: center;
}
tbody td:nth-child(2){
    text-align: center;
}
tbody td:nth-child(3){
    text-align: center;
}

#top3{
    background-color: #61C9A8;
    
}

#top6{
    background-color: #BA3B46;
}
#transition:hover{
    background-color: blueviolet;
    transition: ease-in;
}
#rest:hover{
    background-color: blueviolet;
    transition: 0.3s ease-in;
}
